// =============================================================================
// UTILS
// =============================================================================




// Functions
// -----------------------------------------------------------------------------
//
// Here goes all functions used in all app
//
// -----------------------------------------------------------------------------


// Return value from the FONT FAMILY map
// -----------------------------------------------------------------------------

@function _font($key, $map:$font-map) {
  @if map-has-key($map, $key) {
        @return map-get($map, $key);
    }
}

// Return value from the BREAK POINT  map
// -----------------------------------------------------------------------------

@function _bp($key, $map:$bp-map) {
  @if map-has-key($map, $key) {
        @return map-get($map, $key);
    }
}


// Return value from the COLOR map
// -----------------------------------------------------------------------------

@function _color($color, $tone: "base", $map:$color-map) {
  @if map-has-key($map, $color) {
        @return map-get(map-get($map, $color), $tone);
    }
}

// MIXINS
// -----------------------------------------------------------------------------
//
// Here goes all mixins used in all app
//
// -----------------------------------------------------------------------------






// PLACEHOLDERS
// -----------------------------------------------------------------------------
//
// Here goes all placeholders used in all app
//
// -----------------------------------------------------------------------------


// Clear floating divs
// -----------------------------------------------------------------------------

%clearfix {
  &::after {
    content: "";
    display: table;
    clear: both;
  }
}


